.header .welcome-title h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.footer h2 {
  align-items: center;
  font-weight: bold;
  text-align: center;
}

/* Main */
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid Black;
  border-radius: 10px;
  background-color: White;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.form h2 {
  margin-bottom: 50px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
