.solicitudRegActivos{
  height: 100%;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 4%;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

#txtDescripcion {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  box-sizing: border-box;
}


textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 22px;
  box-sizing: border-box;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer h2 {
  align-items: center;
  font-weight: bold;
  text-align: center;
}
.copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
