* {
  margin: 0;
  padding: 0;
}

:root {
  --color-1: #29271f;
  --color-2: #387e37;
  --color-3: #db8a1b;
  --color-4: #f4e7d5;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--color-4);
}

header,
footer {
  background-color: var(--color-1);
  color: White;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  height: 85px;
  padding: 5px 10px;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.header .welcome-title h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.header .nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.header .nav-links li,
.header .nav-links a {
  font-weight: bold;
  text-transform: uppercase;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  color: White;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: var(--color-3);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer h2 {
  align-items: center;
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-container {
  border: 1px solid Black;
}
